alacritty
autostart
cachyos
Code
dconf
fish
glib-2.0
gtk-3.0
gtk-4.0
Kvantum
mako
micro
obsidian
pulse
qt5ct
swaylock
systemd
Thunar
vesktop
waybar
wlogout
wofi
xfce4
.dmenurc
cachyos-hello.json
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
unityhub
unity3d
vscode-sqltools
Plexamp
Actual
BetterDiscord
BetterDiscord Installer
chromium
codestation
crossnote
discord
discord-screenaudio
gh
google-chrome
heroic
ibus
jxbrowser
kicad
Kvantum
libreoffice
Logic
QtProject.conf
zoom.conf
zoomus.conf