* {
    border: none;
    border-radius: 0;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #1B1B1D;
}

#battery{
    padding: 10px 10px;
    font-family: "Ndot";
}

#clock {
    font-family: "NType 82";
    font-size: 20px;
    padding: 10px 10px;
}
